<h1 class="text-center">Bienvenue <%= @user.first_name %></h1><br/>

<p class="text-center"><%= link_to "Editer mon profil", edit_user_path, class: "btn btn-lg btn-info" %> </p>

<p class="text-center"><%= link_to "Retour à l'accueil", static_pages_home_path, class: "btn btn-lg btn-info" %> </p>
